body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }

    .inter-justify {
      text-align: justify;
      hyphens: auto;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      word-wrap: break-word;
    }


    /* .stretched-dash {
      margin: 20px;
      background: linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100%) repeat-x,
        linear-gradient(to bottom, black 0%, black 50%, transparent 50%, transparent 100%) repeat-y ;
      background-size: 60px 1px, 1px 60px;
    } */



  }
}
